.hidden {
    display: none !important;
}

/* 카드 레이아웃 */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.col {
    flex: 1 1 calc(25% - 20px);
    max-width: 300px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    background-color: #fff;
    height: 43rem;
    width: 15rem;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-5px);
}
.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.card-body {
    padding: 15px;
}
.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.card-text {
    font-size: 0.95em;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .col {
        flex: 1 1 calc(33% - 20px);
    }
}
@media (max-width: 900px) {
    .col {
        flex: 1 1 calc(50% - 20px);
    }
}
@media (max-width: 600px) {
    .col {
        flex: 1 1 100%;
    }
}
