/* 모달 전체 */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

/* 모달 콘텐츠 */
.custom-modal-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

/* 닫기 버튼 */
.custom-close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: grey;
}

/* 이미지 */
#custom-modal-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}